{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Jhonatan Ochoa">

  {% block morestatics %}
  {% endblock %}

  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

  <title>{% block title %}Document {% endblock %}</title>

</head>

<body id="page-top">
  {% block navbar %}
  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">Metropolitan Touring</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar -->
    <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            {% if user.is_authenticated %}
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Salir</a>
            {% else %}
              <a class="dropdown-item" href="{% url 'login' %}">Ingresar</a>
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
  </nav>
  {% endblock %}


  <div id="wrapper">

    {% block sidebar %}
    <ul class="sidebar navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Adminitración</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gestionTrabajadores:add_trabajador' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>Agregar Trabajador</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gestionTrabajadores:list_trabajador' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>Lista de Trabajadores</span></a>
      </li>
      <div class="dropdown-divider"></div>
      <li class="nav-item">
        <a data-toggle="modal" data-target="#logoutModal" class="nav-link" href="#">
          <span>Salir</span></a>
      </li>
    </ul>

    {% endblock %}

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <!--<ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Blank Page</li>
        </ol>-->

        <!-- Page Content -->
        <div class="breadcrumb">
        {% if user.is_authenticated %}
          Hola {{ user.username }}!
        {% else %}
          <p>No has iniciado Sesión, no podrás editar ni agregar trabajadores.<a href="{% url 'login' %}"> Iniciar Sesión</a></p>
        {% endif %}
        </div>
        {% block content %}
          <h1>Blank Page</h1>
        {% endblock %}
      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      {% block footer %}
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Desarrollado por Jhonatan Ochoa | 2019</span>
          </div>
        </div>
      </footer>
      {% endblock %}

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Desea Salir?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presione "Salir" para continuar.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Salir</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="UserModalLabel"></h5>
        </div>
        <div id="UserModalBody" class="modal-body">
        </div>
        <div class="modal-footer">
          <h5 class="modal-title" id="UserModalFooter"></h5>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/sb-admin.min.js' %}"></script>

  {% block morejs %}
  {% endblock %}

</body>

</html>
